#t-3d480942-dc32-4b75-998c-4f4d31a78f9f #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-3d480942-dc32-4b75-998c-4f4d31a78f9f #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-3d480942-dc32-4b75-998c-4f4d31a78f9f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}