<html>
  <body>
    <div class="ui-page">
         <div id="t-3d480942-dc32-4b75-998c-4f4d31a78f9f" class="template growth-both firer commentable non-processed" name="Page_Header" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/3d480942-dc32-4b75-998c-4f4d31a78f9f-1517605327354.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/3d480942-dc32-4b75-998c-4f4d31a78f9f-1517605327354-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/3d480942-dc32-4b75-998c-4f4d31a78f9f-1517605327354-ie8.css" /><![endif]-->
           <div id="t-Rectangle_1" class="rectangle firer commentable non-processed"   datasizewidth="1024px" datasizeheight="191px" dataX="0" dataY="0" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Text_1" class="label singleline autofit firer ie-background commentable non-processed"   datasizewidth="457px" datasizeheight="60px" dataX="283" dataY="84" ><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">Plagiarism Checker</span></div></div></div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>