#s-90765342-b4f1-4284-9135-f5c82f5777b0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_4 {
  position: absolute;
  width: 1024px;
  height: 861px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rich_text_1 {
  position: absolute;
  width: 197px;
  height: 54px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 27.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rich_text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Statistic_Boxes {
  position: absolute;
  width: 933px;
  height: 159px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Red_alert {
  position: absolute;
  width: 215px;
  height: 151px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_1 {
  position: absolute;
  width: 213px;
  height: 149px;
  background-color: #D9534F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Group_7 {
  position: absolute;
  width: 63px;
  height: 48px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_26 {
  position: absolute;
  width: 35px;
  height: 20px;
  background-color: #D9534F;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 24px 24px 24px 24px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_52 {
  position: absolute;
  width: 59px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_52 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_52 span#rtr-s-Label_52_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_62 {
  position: absolute;
  width: 99px;
  height: 46px;
  background-color: #D9534F;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_62 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_62 span#rtr-s-Label_62_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Yellow_alert {
  position: absolute;
  width: 234px;
  height: 159px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_2 {
  position: absolute;
  width: 232px;
  height: 157px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Group_5 {
  position: absolute;
  width: 63px;
  height: 42px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_24 {
  position: absolute;
  width: 37px;
  height: 16px;
  background-color: #F0AD4E;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F0AD4E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F0AD4E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F0AD4E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F0AD4E;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_59 {
  position: absolute;
  width: 59px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_59 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_58 {
  position: absolute;
  width: 89px;
  height: 46px;
  background-color: #F0AD4E;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F0AD4E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F0AD4E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F0AD4E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F0AD4E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_58 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Green_alert {
  position: absolute;
  width: 234px;
  height: 159px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_3 {
  position: absolute;
  width: 232px;
  height: 157px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Group_3 {
  position: absolute;
  width: 63px;
  height: 42px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_21 {
  position: absolute;
  width: 37px;
  height: 16px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_46 {
  position: absolute;
  width: 59px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_46 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_46 span#rtr-s-Label_46_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_55 {
  position: absolute;
  width: 82px;
  height: 45px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_55 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Label_55 span#rtr-s-Label_55_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Red_Hotspot {
  position: absolute;
  width: 188px;
  height: 131px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Yellow_hotspot {
  position: absolute;
  width: 181px;
  height: 128px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Green_hotspot {
  position: absolute;
  width: 156px;
  height: 128px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_1 {
  position: absolute;
  width: 171px;
  height: 338px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_1 li {
  background-position: 8px 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_1 li.last {
  background-position: 8px 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_1 li.open td.treeicon {
  background: transparent url('../../images/7045e804-0212-4875-a1c9-c4601d4e92b7.gif') no-repeat top center scroll;
  height: 16px;
  width: 16px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_1 li.closed td.treeicon {
  background: transparent url('../../images/489e8916-1d96-41f5-ac8d-31b7f7950181.gif') no-repeat top center scroll;
  height: 16px;
  width: 16px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_1 li.leaf table td.treeicon {
  background-position: 8px center;
  width: 16px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_1 li.last.leaf td.treeicon {
  width: 16px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_1 li.open ul {
  padding-left: 16px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_1 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_1-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_3 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_3-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_4 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_4-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_6 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_6-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_7 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_7-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_2 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_2-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_5 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_5-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_8 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_8-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_9 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_9-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_10 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_10-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_11 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_11-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_12 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_12-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_13 {
  cursor: pointer;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Tree_node_13-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Image_1 {
  position: absolute;
  width: 358px;
  height: 423px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Image_2 {
  position: absolute;
  width: 311px;
  height: 423px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_1 {
  position: absolute;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_2 {
  position: absolute;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Pop_up {
  position: absolute;
  width: 239px;
  height: 130px;
  display: none;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_5 {
  position: absolute;
  width: 237px;
  height: 128px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 33px 33px 33px 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_3 {
  position: absolute;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_4 {
  position: absolute;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-90765342-b4f1-4284-9135-f5c82f5777b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}