#s-d78e22f0-5070-449d-bafe-5d851ab6d1e5 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d78e22f0-5070-449d-bafe-5d851ab6d1e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}