
<!--Top navbar -->
<div class="container-fluid">
  <nav class="navbar navbar-tiffany navbar-fixed-top">

    <div class="row">
      <div class="col-sm-1">
        <div class="navbar-text pull-left">
          <a routerLink="/profile" class="white">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
      </div>

      <div class="col-sm-3 hidden-xs">
        <div class="navbar-brand pull-left">
          <!--<a href="../page/page-list.html" class="white">-->
          <b class="white">My Course List</b>
          <!--</a>-->
        </div>
        <!--<div  class="navbar-text pull-right white">-->
          <!--<span class="glyphicon glyphicon-plus"></span>-->
        <!--</div>-->
        <!--</p>-->
      </div>

      <div class="col-sm-8">
        <!--heading on the nav bar-->
        <div class="navbar-brand pull-left">
          <div class="thick white">
            <b>New Course</b>
          </div>
        </div>
        <!--tick mark-->
        <div class="navbar-text pull-right">
          <a (click)="create()"  class="white" >
            <span class="glyphicon glyphicon-ok "></span>
          </a>
        </div>
      </div>

    </div>
  </nav>
</div>




<div class="container-fluid">

  <div class="row">

    <div class="col-sm-4 hidden-xs">


      <div class="padding padding"></div>
      <label class ='letter-tiffany paddingleft'>Welcom, {{user.firstName}}! &nbsp; &nbsp; Role: {{user.type}}</label>

      <!--<ul *ngFor = "let course of courses"  class="list-group ">-->
        <!--<li class="list-group-item blue borderless">-->

          <!--&lt;!&ndash;<a routerLink="/profile/{{ userId }}/website/{{ wid }}/page">&ndash;&gt;-->
          <!--<b>  {{ course.semester }}:    {{course.code}}   {{course.name}}  </b>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->

          <!--&lt;!&ndash;<a class="pull-right" >&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-cog"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</li>-->
      <!--</ul>-->
      <table id="customers">

        <thead>
        <tr>
          <th>&nbsp; Semester</th>
          <th>&nbsp; Code</th>
          <th>&nbsp; Name</th>
          <!--<th>  Go To Course</th>-->
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let course of courses" routerLink="/user/website/{{ course.id }}">
          <td>&nbsp; {{course.semester}}</td>
          <td>&nbsp; {{course.code}}</td>
          <td>&nbsp; {{course.name}}</td>
          <!--<td>&nbsp;-->
          <!--<a class="glyphicon glyphicon-chevron-right " routerLink="/user/website/{{ course.id }}">-->
          <!--</a>-->
          <!--</td>-->



        </tr>
        </tbody>
      </table>

    </div>


    <div class="col-sm-8 padding">
      <form (ngSubmit) = "create()" #f="ngForm">
        <div class="container-fluid">

          <!--<b class="blue">Semester</b>-->
          <!--<input ngModel-->
                 <!--placeholder="Semester"-->
                 <!--name="semester"-->
                 <!--class="form-control"-->
                 <!--type="text"-->
                 <!--required-->
                 <!--#semester = "ngModel"/>-->

          <b class="blue">Semester</b>
          <br>
          <select name="semester" ngModel>
            <option value = 'Fall2017'>Fall2017</option>
            <option value = 'Sring2018'>Sring2018</option>
            <option value = 'Fall2018'>Fall2018</option>
          </select>

          <br>

          <!--<input ngModel-->
                 <!--placeholder="Semester"-->
                 <!--name="semester"-->
                 <!--class="form-control"-->
                 <!--type="text"-->
                 <!--required-->
                 <!--#semester = "ngModel"/>-->


          <b class="blue">Course Code</b>
          <textarea ngModel
                    class="form-control"
                    type="text"
                    placeholder='Course code'
                    name="code"
                    #code = "ngModel"></textarea>


          <b class="blue">Course Name</b>
          <textarea ngModel
                    class="form-control"
                    type="text"
                    placeholder='Course Name'
                    name="name"
                    #name = "ngModel"></textarea>

        </div>
      </form>
    </div>
  </div>
</div>


<nav class="navbar navbar-tiffany navbar-fixed-bottom">
  <div class="container-fluid">
    <b class="navbar-text pull-left white">
      Busted
    </b>
    <div class="navbar-text pull-right">
      <a routerLink="/profile" class="white">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

